<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for income,category in incomes.items() %}
        <h1>{{income}}</h1>
        {% for incom in category %}
            {% if incom %}
            <div style="border: 1px solid black;">
                <p>Nombre:{{incom.income_name}}</p>
                <p>Descripcion:{{incom.description}}</p>
                <p>Fecha:{{incom.income_date}}</p>
                <p>Monto:${{incom.amount}}</p>
            </div>
                
            {% endif %}
        {% endfor %}
    {% endfor %}  
</body>
</html>