<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!---Revisar esto luego por duda con items peligroso o no  ? -->
    {% for income,category in incomes.items() %}
        <h1>{{income}}</h1>
        {% for elemento in category %}
            {% if elemento %}
            <div style="border: 1px solid black;">
                <p>Nombre:{{elemento.income_name}}</p>
                <p>Descripcion:{{elemento.description}}</p>
                <p>Fecha:{{elemento.income_date}}</p>
                <p>Monto:${{elemento.amount}}</p>
            </div>
                
            {% endif %}
        {% endfor %}
    {% endfor %}  
</body>
</html>