<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>
            Resumen global prestamos
        </h1>
        <p>
            <div>
                <h1>Monto total</h1>
                <p>{{loans[0]}}</p>
            </div>
            <div>
                <h1>Monto restante</h1>
                <p>{{loans[1]}}</p>
            </div>
            <div>
                <h1>Monto pagado</h1>
                <p>{{loans[2]}}</p>
            </div>
            <div>
                <h1>Progreso</h1>
                <p>{{loans[3]}}%</p>
            </div>
        </p>
    </div>
</body>
</html>