<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <h1>Resumen global de prestamos</h1>
            <p>
                Monto total prestamos:{{ loan_summ["monto_total"] }}
            </p>
            <p> 
                Monto pagado:{{ loan_summ["monto_pagado"] }}
            </p>
            <p>
                Monto restante:{{ loan_summ["monto_restante"] }}
            </p>
            <p>
                Progreso:{{ loan_summ["progreso"] }}%
            </p>
        </div>
        <div>
            
        </div>
    </div>
</body>
</html>