<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {{form.hidden_tag()}}
        {{form.nombre.label()}}
        {{form.nombre()}}
        {% if form.nombre.errors %}
            <ul class="errors">
                {% for error in form.nombre.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {{form.titular.label()}}
        {{form.titular()}}
        {% if form.titular.errors %}
            <ul class="errors">
                {% for error in form.titular.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {{form.precio.label()}}
        {{form.precio()}}
        {% if form.precio.errors %}
            <ul class="errors">
                {% for error in form.precio.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {{form.cuota.label()}}
        {{form.cuota()}}
        {% if form.cuota.errors %}
            <ul class="errors">
                {% for error in form.cuota.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {{form.tea.label()}}
        {{form.tea()}}
        {% if form.tea.errors %}
            <ul class="errors">
                {% for error in form.tea.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {{form.tea_mora.label()}}
        {{form.tea_mora()}}
        {% if form.tea_mora.errors %}
            <ul class="errors">
                {% for error in form.tea_mora.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <select name="cuenta">
            {% for account in accounts %}
                <option value="{{account.id}}">{{account.account_name}}</option>
            {% endfor %}
        </select>
        {{form.submit()}}
    </form>
</body>
</html>