<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {{form.hidden_tag()}}
        {{form.monto.label()}}
        {{form.monto()}}
        {{form.fecha.label()}}
        {{form.fecha()}}
        {{form.descripcion.label()}}
        {{form.descripcion()}}
        <select name="prestamo" id="">
            {% for loan in loans %}
                {% if loan.reamining_price>0 %}
                    <option value="{{loan.id}}">{{loan.loan_name}}</option>
                {% endif %}
            {% endfor %}
        </select>
        {% for mesg in get_flashed_messages() %}
            <h2 style="color:red;">{{ mesg }}</h2>
        {% endfor %}
        {{form.submit()}}
    </form>
</body>
</html>