<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Inicia sesion</p>
    <form action="" method="POST">
        {{login.hidden_tag()}}
        {{login.email.label(class="form-label")}}
        {{login.email(class="form-control")}}
        {% for error in login.email.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
        
        {{login.clave.label(class="form-label")}}
        {{login.clave(class="form-control")}}
        {% for error in login.clave.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{login.submit()}}
    </form>
    <p>No tienes cuenta registrate <a href="/public/registro">aqui</a></p>
    {% for mesg in get_flashed_messages() %}
    <h3 style="color:red;">{{ mesg }}</h3>
    {% endfor %}

</body>
</html>