<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Aplicación{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <!-- Barra de navegación -->
    <nav style="background-color: #444444; padding: 10px;">
        <h1 style="color: white; margin: 0; text-align: center;">FinanceDashboard</h1>
    </nav>
    

    <!-- Contenido principal -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 FinanceDashboard</p>
    </footer>
</body>

</html>
