<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Finance Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bienvenida.css') }}">
</head>
<body>
    <header>
        <h1>Bienvenido a tu Finance Dashboard</h1>
    </header>
    <main>
        <p>¡Bienvenido a nuestra plataforma de Gestión de Finanzas Personales!

            Estamos encantados de que nos hayas elegido para acompañarte en tu viaje hacia un futuro financiero más seguro y próspero. Aquí, te ofrecemos las herramientas y recursos que necesitas para gestionar tus ingresos, ahorros y gastos de manera eficiente. Con nuestra interfaz intuitiva, podrás establecer metas, realizar un seguimiento de tu presupuesto, optimizar tus inversiones y tomar decisiones informadas en cada paso.
            
            Ya sea que estés comenzando a gestionar tus finanzas o buscando mejorar tus hábitos, nuestro equipo está comprometido a brindarte el apoyo y la orientación necesarios. ¡Tú controlas tus finanzas, nosotros te ayudamos a hacerlas crecer!
            
            ¡Comienza hoy mismo a construir el futuro que mereces!</p>

        <a href="/iniciar" class="button">Empieza ahora </a>
    </main>
    <footer>
        <p>&copy; 2023 Finance Dashboard. All rights reserved.</p>
    </footer>
</body>
</html>